<section class="menu position-absolute fixed-top">
  <nav class="navbar navbar-primary fixed-top bg-primary">
    <div class="container text-end">
      <div class="col">
        <a class="navbar-brand" href="#">
          <button
            type="button"
            class="btn btn-outline border border-light p-3 text-light"
          >
            Solicitações Clínicas
          </button>
        </a>
        <a class="navbar-brand" href="#">
          <button
            type="button"
            class="btn btn-outline border border-light p-3 text-light"
          >
            Listagem de Solicitações
          </button>
        </a>
      </div>
    </div>
  </nav>
</section>


